.product{
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 80vh;
  
}

.gemify{
  margin-top:100px;
}

.fh1{
    max-width: 300%; 
    max-height: 300%;
}
.silver-item{
  margin-left: 100px;
  display: inline;
  
}
.silver-item2{
  margin-left:100px;

} 