.product {
  justify-content: center;
  margin-left: 15px;
}

/* .product-list{
  display:flex;
} */
.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Display 4 items per row */
  grid-gap: 20px; /* Adjust the gap between items */
}


/* Style for the like button */

.jewellery-item {
  list-style-type: none;
  margin: 25px;
  padding: 20px;
  border: 2px solid #ccc;
  text-align: center;
}

/* Style for the diamond image */
.jewellery-item img {
  max-width: 200px; /* Adjust as needed */
  height: auto;
  align-items: center;
  
}

/* Style for the add to cart button */
.add-to-cart {
  display: block;
  margin-left: 25px;
  margin-top: 20px;
  background-color: #cc0d0d; /* Example color */
  color: #fff;
  padding: 5px 10px;
  text-decoration: none;
  height: 40px;
  width: 150px;
  border-radius: 15px; /* Adjust the value as needed for the desired roundness */
}


/* Hover effect for add to cart button */
.add-to-cart:hover {
  background-color: #020911; /* Darker shade of the button color */
}


.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.image-grid img {
  width: 100%;
  height: auto;
}

