/* .signup-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.signup-heading {
    text-align: center;
}

.error-message {
    color: red;
    text-align: center;
    margin-bottom: 10px;
}

.signup-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
}

.signup-button {
    width: 100%;
    padding: 10px;
    background-color: #dd0e0e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signup-button:hover {
    background-color: #000a01;
} */

.signup-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: s#f9f9f9;
  }
  
  /* Style for heading */
  .signup-heading {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Style for input fields */
  .signup-input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Style for login button */
  .signup-btn {
    width: 80%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    size:0cap;
  }
  
  .signup-btn:hover {
    background-color: #000407;
  }